In [0]:
from pyspark.sql.functions import udf,col

In [0]:
df = spark.read.format("csv").option("header", "true").option("inferSchema","true").load("/FileStore/tables/UIDAI_ENR_DETAIL_20170308.csv")  
df.show()

+--------------------+--------------------+-------------+----------+------------+--------+------+---+-----------------+------------------+-------------------------+---------------------------------+
|           Registrar|    Enrolment Agency|        State|  District|Sub District|Pin Code|Gender|Age|Aadhaar generated|Enrolment Rejected|Residents providing email|Residents providing mobile number|
+--------------------+--------------------+-------------+----------+------------+--------+------+---+-----------------+------------------+-------------------------+---------------------------------+
|      Allahabad Bank|A-Onerealtors Pvt...|Uttar Pradesh| Allahabad|        Meja|  212303|     F|  7|                1|                 0|                        0|                                1|
|      Allahabad Bank|Asha Security Gua...|Uttar Pradesh| Sonbhadra| Robertsganj|  231213|     M|  8|                1|                 0|                        0|                                0|
|      Allahabad Bank|   SGS INDIA PVT LTD|Uttar Pradesh| Sultanpur|   Sultanpur|  227812|     F| 13|                1|                 0|                        0|                                1|
|      Allahabad Bank|Sri Ramraja Sarka...|Uttar Pradesh|    Shamli|      Shamli|  247775|     M|  6|                1|                 0|                        0|                                1|
|      Allahabad Bank|  Transmoovers India|Uttar Pradesh| Gorakhpur|    Sahjanwa|  273001|     M|  8|                1|                 0|                        0|                                1|
|      Allahabad Bank|  Transmoovers India|Uttar Pradesh|  Varanasi|      Pindra|  221101|     M| 14|                1|                 0|                        0|                                1|
|      Allahabad Bank|  Transmoovers India|Uttar Pradesh|  Varanasi|    Varanasi|  221001|     M|  9|                1|                 0|                        0|                                1|
|      Allahabad Bank|  Transmoovers India|Uttar Pradesh|  Varanasi|    Varanasi|  221002|     M|  4|                1|                 0|                        0|                                1|
|      Allahabad Bank|  Transmoovers India|Uttar Pradesh|  Varanasi|    Varanasi|  221002|     M| 10|                0|                 1|                        0|                                1|
|      Allahabad Bank|  Transmoovers India|Uttar Pradesh|  Varanasi|    Varanasi|  221002|     M| 19|                1|                 0|                        0|                                1|
|      Allahabad Bank|Vedavaag Systems ...|Uttar Pradesh|Bara Banki|   Nawabganj|  225301|     M|  8|                1|                 0|                        0|                                0|
|Atalji Janasnehi ...|Atalji Janasnehi ...|        Assam|  Marigaon|   Bhuragaon|  782121|     M| 22|                1|                 0|                        0|                                1|
|Atalji Janasnehi ...|Atalji Janasnehi ...|        Bihar| Gopalganj|  Vijayeepur|  841508|     M| 26|                1|                 0|                        0|                                1|
|Atalji Janasnehi ...|Atalji Janasnehi ...|    Karnataka|  Bagalkot|      Badami|  587114|     M| 27|                1|                 0|                        0|                                1|
|Atalji Janasnehi ...|Atalji Janasnehi ...|    Karnataka|  Bagalkot|      Badami|  587155|     F|  2|                1|                 0|                        0|                                1|
|Atalji Janasnehi ...|Atalji Janasnehi ...|    Karnataka|  Bagalkot|      Badami|  587155|     M| 67|                1|                 0|                        0|                                1|
|Atalji Janasnehi ...|Atalji Janasnehi ...|    Karnataka|  Bagalkot|      Badami|  587201|     F| 32|                1|                 0|                        0|                                1|
|Atalji Janasnehi ...|Atalji Janasnehi ...|    Karnataka|  Bagalkot|      Badami|  587203|     M| 27|                1|                 0|                        0|                                1|
|Atalji Janasnehi ...|Atalji Janasnehi ...|    Karnataka|  Bagalkot|      Badami|  587206|     F| 40|                1|                 0|                        0|                                0|
|Atalji Janasnehi ...|Atalji Janasnehi ...|    Karnataka|  Bagalkot|      Badami|  587206|     M| 28|                1|                 0|                        0|                                1|
+--------------------+--------------------+-------------+----------+------------+--------+------+---+-----------------+------------------+-------------------------+---------------------------------+
only showing top 20 rows

In [0]:
#a Create a dataframe with Total Aadhaar's generated for each state

# Uisng filter function we can select the column and it records,grouping the records by states and counting only aadhar geneated values and arranging them in decscending orrder.
import pyspark.sql.functions as f
Aadhar_count = df.groupBy("State").agg(f.sum("Aadhaar generated").alias("Toatal_aadhar"))
Aadhar_count.show(20,truncate=False)

+-----------------+-------------+
|State            |Toatal_aadhar|
+-----------------+-------------+
|Nagaland         |545          |
|Karnataka        |19764        |
|Odisha           |18182        |
|Kerala           |15143        |
|Tamil Nadu       |32485        |
|Chhattisgarh     |6604         |
|Andhra Pradesh   |5798         |
|Madhya Pradesh   |53276        |
|Punjab           |6506         |
|Manipur          |1323         |
|Goa              |1167         |
|Mizoram          |6279         |
|Himachal Pradesh |1547         |
|Puducherry       |83           |
|Haryana          |6804         |
|Jammu and Kashmir|1234         |
|Jharkhand        |9868         |
|Arunachal Pradesh|913          |
|Gujarat          |34844        |
|Delhi            |8426         |
+-----------------+-------------+
only showing top 20 rows

In [0]:
#b.) Create a dataframe with Total Aadhaar's generated by each enrollment agency
import pyspark.sql.functions as f
Enrollment_agencys = df.groupBy("Enrolment Agency").agg(f.sum("Aadhaar generated").alias("Total_aadhar"))
Enrollment_agencys.show(10,truncate=False)

+-----------------------------------+------------+
|Enrolment Agency                   |Total_aadhar|
+-----------------------------------+------------+
|APOnline Limited                   |305         |
|Transmoovers India                 |5           |
|Alankit Limited                    |3861        |
|Twinstar Industries Ltd.           |4806        |
|OSWAL COMPUTERS & CONSULTANTS      |872         |
|SHRIKRISHNA KHANDASARI SUGAR M     |1           |
|Atalji Janasnehi Directorate  GOK  |1369        |
|Sri Ramraja Sarkar Lok Kalyan Trust|2642        |
|Asha Security Guard Services       |768         |
|CMS Computers Ltd                  |13126       |
+-----------------------------------+------------+
only showing top 10 rows

In [0]:
#c.) Create dataframe with top 10 districts with maximum Aadhaar's generated for both Male and Female?
import pyspark.sql.functions as f
Males = df.filter("Gender == 'M'").groupBy("District").agg(f.count("Aadhaar generated").alias("Total_aadhar")).sort(f.desc("Total_aadhar"))
print('Top 10 districts with maximum Aadhaar generated for Male : ')
Males.show(10,truncate=False)
# Females
# Uisng filter function we can select the column and it records,grouping the records by District and counting only aadhar geneated values and arranging them in decscending orrder.
Females=df.filter(("Gender == 'F'")).groupBy("District").agg(f.count("Aadhaar generated").alias("Total_aadhar")).sort(f.desc("Total_aadhar"))
print('Top 10 districts with maximum Aadhaar generated for Female : ')
Females.show(10,truncate=False)

'''import pyspark.sql.functions as f
top_10_dist_max_df=df.filter(~(df.Gender == 'T')).groupBy("District").sum("Aadhaar generated").orderBy(f.desc("sum(Aadhaar generated)"))
top_10_dist_max_df.show(10)'''
top_10_dist_max_df=df.filter((df.Gender != 'T')).groupBy("District").sum("Aadhaar generated").orderBy(f.desc("sum(Aadhaar generated)"))
top_10_dist_max_df.show(10)

Top 10 districts with maximum Aadhaar generated for Male :
+-----------------+------------+
|District         |Total_aadhar|
+-----------------+------------+
|Barddhaman       |4276        |
|North 24 Parganas|3772        |
|South 24 Parganas|3630        |
|Bhagalpur        |3543        |
|Patna            |3485        |
|Nadia            |3460        |
|Murshidabad      |3018        |
|Gaya             |2915        |
|Kolkata          |2678        |
|Katihar          |2622        |
+-----------------+------------+
only showing top 10 rows

Top 10 districts with maximum Aadhaar generated for Female :
+-----------------+------------+
|District         |Total_aadhar|
+-----------------+------------+
|North 24 Parganas|3121        |
|Barddhaman       |2859        |
|South 24 Parganas|2448        |
|Patna            |1766        |
|Bhagalpur        |1744        |
|Nadia            |1673        |
|Jalpaiguri       |1509        |
|Gaya             |1487        |
|Murshidabad      |1399        |
|Howrah           |1393        |
+-----------------+------------+
only showing top 10 rows

+-----------------+----------------------+
|         District|sum(Aadhaar generated)|
+-----------------+----------------------+
|South 24 Parganas|                 16207|
|       Barddhaman|                 15821|
|        Bhagalpur|                 14479|
|North 24 Parganas|                 11272|
|             Gaya|                 10755|
|          Katihar|                  9479|
|            Patna|                  8945|
|      Murshidabad|                  8656|
|       Samastipur|                  8230|
|            Nadia|                  8162|
+-----------------+----------------------+
only showing top 10 rows

In [0]:
#d.) Create a dataframe with Total Aadhaar's generated for top 10 least state
import pyspark.sql.functions as f
# Uisng filter function we can select the column and it records,grouping the records by states and counting only aadhar geneated values and arranging them in decscending orrder.
Aadhar_count = df.filter(col("Aadhaar generated") == 1).groupBy("State").agg(f.count("Aadhaar generated").alias("Toatal_aadhar"))
Aadhar_count.show(10,truncate=False)

+--------------+-------------+
|State         |Toatal_aadhar|
+--------------+-------------+
|Nagaland      |289          |
|Karnataka     |12167        |
|Odisha        |9105         |
|Kerala        |9955         |
|Tamil Nadu    |16464        |
|Chhattisgarh  |3409         |
|Andhra Pradesh|3519         |
|Madhya Pradesh|27491        |
|Punjab        |4944         |
|Manipur       |334          |
+--------------+-------------+
only showing top 10 rows

In [0]:
#e.) for which age most adhar card has declined?
# Uisng filter function we can select the column and it records,grouping the records by states and counting only aadhar geneated values and arranging them in decscending orrder.
import pyspark.sql.functions as f
Age = df.groupBy("Age").sum("Enrolment Rejected").sort(f.desc("sum(Enrolment Rejected)"))
Age.show(100,truncate=False)

+---+-----------------------+
|Age|sum(Enrolment Rejected)|
+---+-----------------------+
|4  |5673                   |
|3  |3842                   |
|2  |3372                   |
|1  |3333                   |
|0  |3219                   |
|5  |2208                   |
|6  |1931                   |
|7  |1572                   |
|8  |1357                   |
|9  |980                    |
|10 |920                    |
|11 |604                    |
|12 |560                    |
|13 |406                    |
|18 |384                    |
|14 |348                    |
|22 |329                    |
|20 |318                    |
|21 |300                    |
|25 |293                    |
|15 |292                    |
|19 |285                    |
|23 |271                    |
|16 |261                    |
|24 |251                    |
|27 |239                    |
|28 |231                    |
|17 |231                    |
|26 |224                    |
|30 |217                    |
|29 |172                    |
|35 |171                    |
|32 |171                    |
|31 |152                    |
|34 |129                    |
|60 |127                    |
|45 |121                    |
|40 |119                    |
|33 |115                    |
|62 |111                    |
|65 |104                    |
|70 |104                    |
|41 |100                    |
|36 |100                    |
|67 |96                     |
|37 |93                     |
|38 |93                     |
|39 |92                     |
|42 |91                     |
|51 |87                     |
|50 |87                     |
|47 |82                     |
|55 |81                     |
|52 |74                     |
|48 |74                     |
|46 |74                     |
|57 |69                     |
|61 |67                     |
|44 |66                     |
|43 |66                     |
|58 |66                     |
|66 |62                     |
|72 |61                     |
|56 |59                     |
|54 |58                     |
|64 |58                     |
|71 |56                     |
|68 |56                     |
|59 |53                     |
|49 |53                     |
|63 |53                     |
|77 |46                     |
|53 |44                     |
|69 |44                     |
|73 |41                     |
|75 |40                     |
|74 |40                     |
|80 |35                     |
|76 |31                     |
|78 |22                     |
|79 |21                     |
|82 |12                     |
|84 |5                      |
|86 |4                      |
|88 |4                      |
|87 |3                      |
|83 |3                      |
|85 |2                      |
|81 |2                      |
|92 |1                      |
|89 |1                      |
|100|1                      |
|103|0                      |
|91 |0                      |
|94 |0                      |
|97 |0                      |
|93 |0                      |
|95 |0                      |
|98 |0                      |
|90 |0                      |
+---+-----------------------+
only showing top 100 rows